/* Reset de estilos para garantir consistência em diferentes navegadores */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgb(66, 160, 108);
}

.logo-container img {
    max-width: 55px;
}

.login-logout-container button {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.login-logout-container {
    display: flex;
    align-items: center;
    /* Centralizar verticalmente */
}

#logout-btn {
    margin-left: 10px;
    /* Ajustar a margem entre a imagem e o botão conforme necessário */
}

.login-logout-container img {
    width: 30px;
    height: 30px;
}

.login-logout-container button:hover {
    background-color: #27ae60;
}


/* Estilo para a área de conteúdo */
#content {
    padding: 20px;
}

/* Estilo para as seções específicas das páginas */
.inicio,
.agendamento,
.informacao,
.suporte {
    margin-bottom: 30px;
}

/* Adicione mais estilos conforme necessário */