/* 

.suporte {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.suporte h1 {
    color: #333;
    font-size: 50px; 

.suporte p {
    color: #555;
    font-size: 16px; 
} */

/* Adicione mais estilos conforme necessário */

.suporte {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.suporte h1, .suporte h2 {
    color: #3498db;
}

.suporte h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.suporte h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.suporte p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.suporte ul {
    list-style-type: none;
    padding: 0;
}

.suporte li {
    font-size: 18px;
    margin-bottom: 10px;
}

.suporte button {
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.suporte button:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 600px) {
    .suporte {
        padding: 15px;
    }

    .suporte h1 {
        font-size: 28px;
    }

    .suporte h2 {
        font-size: 24px;
    }

    .suporte p {
        font-size: 16px;
    }

    .suporte button {
        font-size: 16px;
    }
}

/* Adicione estas regras para estilizar as imagens flexíveis */
.imagens-flex {
    display: flex;
    justify-content: space-around; /* Ajuste conforme necessário */
    align-items: center; /* Ajuste conforme necessário */
    margin-top: 20px; /* Ajuste conforme necessário */
}

.imagens-flex img {
    width: 30%; /* Ajuste conforme necessário */
    border-radius: 8px; /* Adicione bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicione sombra sutil */
}

/* Adicione outras regras de estilo conforme necessário */

